/* .App {
  text-align: center;
} */
body{
  background-image: radial-gradient(circle, #fbfbf8, #d8cdbd, #be9d8b, #a46c69, #823e56, #6a2b50, #4e1b49, #300f42, #260f3b, #1d0e33, #160a2b, #100423);
}
.head{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  color: white;
}
.container{
  display: flex;
  flex-direction: column;

}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.foot{
  color: white;
} 
h5, h6{
  text-align: center;
}

